body {
  background-color: #222;
}

.square {
  width: 200px;
  height: 200px;
  background-color: purple;
  /* transition-property: transform;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out; */
  /* transition: transform 2s 1s ease-in-out; */
  /* transition-property: background-color, transform;
  transition-duration: 0.5s, 2s; */
  transition: transform 0.5s ease-in, background-color 0.25s 0.5s ease-in-out;
}

.square:hover {
  transform: rotate(45deg);
  background-color: skyblue;
}
